![](logo.png)
1. How do you define a driver that churned? What are the reasons? You should be able to assign `0` (not churn) or `1` (churn) in each unique driver. (100 words minimum)

2. How do you calculate churn rate based on your first answer of churn? The solution must be calculated with the available data in `driver_ids.csv`, `ride_ids.csv`, and `ride_timestamps.csv` (100 words minimum)

3. How to you cluster drivers into segments based on churn? (100 words minimum)

4. How would you reduce churn? Is there any effect on the business? (50 words minimum)

5. Come up with hypothesis to size the opportunity of reducing churn. Any effect on the business? (70 words minimum)
